# Terraform
devin-infra.credentials
.terraform/
iam/.terraform/
iam/*.tfstate
iam/*.tfstate.*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Go CLI
/bin/